In [1]:
x=45 y=55 z=65

SyntaxError: invalid syntax (368991004.py, line 1)

In [2]:
x=45;y=55;z=65

In [3]:
print(x,y,z)

45 55 65

In [4]:
print(x+y+z)

165

In [5]:
print(x-y-z)

-75

In [6]:
print(x+y/z)

45.84615384615385

In [7]:
10+5

15

In [8]:
x=20
y=30
print(x+y)

50

In [9]:
x="20"
y='30'
print(x+y)

2030

In [11]:
x='raj'
y='yash'
print(x +"  "y)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1968133075.py, line 3)

In [1]:
x="raj"
y='yash'
print(x+ "   ",y)

raj    yash

In [2]:
print(y+x)

yashraj

In [12]:
x='raj'
y='yash'
print(x + y)

rajyash

In [14]:
print(x+'',y)

raj yash

In [15]:
print(x+'  ',y)

raj   yash

In [17]:
x= 'my self ';y='raj arya'      #this type of operation is called concatenation(when we are add two strings)
print(x+"    ",y)

my self      raj arya

In [21]:
x='23'               # this is a concatenation
y='45'
print(x+y)

2345

In [19]:
x='45';y=55
print(x+' ',y)

45  55

In [54]:
x=45
y=10
z=2
print(x+y-z)

53

In [23]:
x="raj"
y="28"
print(x+y)

raj28

In [24]:
x=raj
y=28
print(x+y)

NameError: name 'raj' is not defined

In [25]:
x="raj"
y=28
print(x+y)

TypeError: can only concatenate str (not "int") to str

In [2]:
x='raj'
y='28'
print(x+"  ",y)

raj   28

In [30]:
x=20
y=20
print(x+y)

40

In [31]:
x='20'
y='20'
print(x+y)

2020

In [32]:
print(x+"   ",y)

20    20

In [36]:
x="raj is the best"
y='28'
print(x+y)

raj is the best28

# Subtraction

In [39]:
x='10'
y='20'                      # string and integer is not subtracted together 
print (x-y)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [1]:
x=10
y=20
print(x-y)

-10

In [55]:
x=10
y=5
z=2
print(10-y+z)

7

In [29]:
x="raj"
y='28'
print(x-y)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
x=

# Multiplication

In [24]:
x=24;y=10
print(x*y)

240

In [34]:
x="raj"                                  
y=28
print( x*y)

rajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajraj

In [40]:
x="raj"
y="28"
print(x*y)

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
x="10"
y="55"                         #two strings can not be multiplied with each other
print (x*y)

TypeError: can't multiply sequence by non-int of type 'str'

In [43]:
x=10
y=55
print(x*y)

550

In [44]:
x=raj
y=28                           
print(x*y)

NameError: name 'raj' is not defined

In [3]:
x="raj"
y=28
print(x*y)

rajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajraj

In [26]:
print(x*y)

rajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajrajraj

In [59]:
name = "raj"
print(name*raj)

NameError: name 'raj' is not defined

In [4]:
name="raj"
x=2
print(name*x)

rajraj

In [51]:
name="   raj   "
x=2
print(name * x)

   raj      raj

In [52]:
print(name*"   ",x)

TypeError: can't multiply sequence by non-int of type 'str'

print(x*"  ",y)

In [28]:
name="         raj    "
print(name*3)

         raj             raj             raj

# devision /
10/5= 10 is a divisor,5 is a divedent,and 2is quitentand zero is remainder

In [30]:
x=20;y=10
print(y/x)

0.5

In [31]:
x=5
y=0
print(x/y)x

ZeroDivisionError: division by zero

In [32]:
x=0
y=5
print(x/5)

0.0

In [33]:
x=10
y=5
z=2
print(x/y/z)

1.0

In [34]:
x=25
y=5
print(x/y)

5.0

In [35]:
x=2
y=4
z=8
print(x/y/z)

0.0625

In [36]:
print(z/y/x)

1.0

In [54]:
name ='raj'
x="20"
print(name/x)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Floor division-does not take a number after decimal

In [6]:
x=10
y=5
z=2.2
print(x/y/z)

0.9090909090909091

In [7]:
print(x//y//z)

0.0

In [38]:
x="raj"
y=10
z=2.2
print(x/y/z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
x="raj"
y=10
z=2
print(x+y//z)

TypeError: can only concatenate str (not "int") to str

In [11]:
print(y//z)

5

In [41]:
x=2
y=4
print(y//x)

2

In [13]:
x=100;y=45
print(x//y)

2

In [43]:
print(x//y)

0

# modulus- the remainder of the devision is called modulus

In [45]:
x=12
y=5
print(x%y)

2

In [46]:
x=12
y=5
z=1
print(x%y%z)

0

In [47]:
x=45
y=10
print(x%y)

5

In [48]:
print(y%x)

10

In [49]:
x=5
y=10
print(x%y)

5

In [50]:
x=10
y=5
print(x%y)

0

In [52]:
x=15
y=4
print(x%y)

3

In [53]:
print(y%x)              #

4

In [16]:
x=10,23,45,56,50,55,72,25
y=5

In [20]:
x=10;55;23;50;23;46;100
y=5
print(x%y)

0

In [57]:
print(x%y)

TypeError: not all arguments converted during string formatting

In [56]:
print(x%y)

TypeError: not all arguments converted during string formatting

In [58]:
x="26"
y="5"
print(x%y)

TypeError: not all arguments converted during string formatting

In [ ]:
12