# Python data types are catogorized into two as follows:
 
    1.Mutable  Data types : data types in python where the value assigned to a variable can be changed .but memory address 
        never change .
        
        for ex= list ,set ,dictionary.
        
    2. Immutable Data types : data types in python wherer the value assigned to a variable cannot be changed .but data 
          memory address  will change

        for ex= number ,string and tuples etc

# List Data Type (Mutable Data type)
 
- list data type are mutable .

- ordered= the list in the item are in ordered.

- Heterogenous-list have taken multiple type of data.eg-string,integer,float,complex number etc.

- Duplicate-list data type also contain a duplicate  item in our list.

- iterable=In python ,an "iterable" refers to an object that can be iterated over meaning you can loop
through its element one by one.
 object=(list,set,dict,string,tuple)are iterable.

# Note- List are mutable .and the item of the list are in ordered and heterogenous also takes multiple type of data type like string,float ,complex,number etc.or contain duplicate item in a list.

# summary of list Data type

- list data type is mutable,ordered,Heterogenous and Duplicate.

 1.syntax of slicing =list_name[start_index:end_index:step]is used to find the  range of object in the list with steps.
 
# Adding element to the list- we can add a new element in a list using this methods such aas
 
1.append(object)=add the item in the end of the list.and take only one argument.

2.insert(index,object)=add the item in the specific position or indexing and take only one argument.

- .extend([])   =the extend method will accept the list of element and them at the end of the list.we can even add another list by using this method and also take multiple item at a time.

  - my_list[index]="raj"=modify the item of list using assignment operator.and takes multiple assignment.

# Removing elements from a list - the element from the list can be removed using the following list method.
1.remove(object)=to remove the specific object which you want from the list.and takes only one argument at a time.

2.pop(index)= remove the object at the given index from the list.and takes only one argument at a time.

3.clear()=to remove all items from the list. the output will be an empty list.and takes no argument.

4.del(index:index)= to remove the range of the object from the list.

#   Finding an element in a list =is used to find the indexing position of any item
and takes only one argument at a time

(my_list.index)

In [7]:
my_list=[20,30,40,50]
my_list[0:2]=[]
print(my_list)

[40, 50]

In [3]:
my_list=[5,10,15,20,25,30,45,50]
x=my_list[-1:-5:-1]
print(x)

[50, 45, 30, 25]

In [25]:
my_list=["raj",34,-45,True,False,4.9,45j,]

x="raj"
if x in my_list:
    print(x)

raj

In [3]:
my_list=["raj",34,-45,True,False,4.9,45j,]
x="raj"
y="yash"
if x and y in my_list:
    print("yes")
else:
    print("no")

no

In [29]:
my_list=["raj",34,-45,True,False,4.9,45j,]
x=4.9
if x in my_list:
    print(x)
else:
    print("nothing")

4.9

In [3]:
my_list=[55,55,True,True,"raj","raj"]
x="raj"
y=55
if x or y in my_list:
    print(x,y)
else:
    print(empty)

raj 55

In [34]:
my_list=[55,55,True,True,"raj","raj"]
x="raj"
y=55
if x and y in my_list:
    print(x,y)
else:
    print("empty")

raj 55

In [13]:
my_list=[45,True,45,"raj",True,"raj"]
name="raj"

if name in my_list:
    print(name)
else:
    print(empty)

raj

In [9]:
my_list=[45,True,45,"raj",True,"raj"]
name="yash"
if name not in my_list:
    print("empty")
else:
    print(name)

empty

In [11]:
x=(1,2,3)
x=list(x)
print(x)

[1, 2, 3]

In [4]:
my_list=[45,True,45,"raj",True,"raj"]
x=set(my_list)
print(x)

{True, 45, 'raj'}

In [6]:
my_set={45,True,45,"raj",True,}
print(id(my_set))
my_list=list(my_set)
print(id(my_list))
print(my_list)

2338262213888
2338263505728
[True, 45, 'raj']

In [15]:
my_tuple=(1,2,3,4,5)
x=list(my_tuple)
print(x)

[1, 2, 3, 4, 5]

In [21]:
raj=(45,55,65,75)
my_list=list(raj)
print(my_list)

[45, 55, 65, 75]

In [2]:
raj_28=("raj",34,-45,True,False,4.9,45j)
my_list=list(raj_28)
print(my_list)

['raj', 34, -45, True, False, 4.9, 45j]

In [40]:
my_list=["raj",34,-45,True,False,4.9,45j]
x="raj"
y=34
if x or y in my_list:
    print(x,y)
else:
    print("nothing")

raj 34

In [39]:
my_list=["raj",34,-45,True,False,4.9,45j]
x="yash"
y=True
if x or y in my_list:
    print(x,y)
else:
    print("nothing")

yash True

In [4]:
my_list=["raj",34,-45,True,False,4.9,45j]
x="raj"
y=100
if x or y not in my_list:
    print("no")
else:
    print(x,y)

no

In [42]:
my_list=["raj",34,-45,True,False,4.9,45j]             # x one variable contain only one value
x=(["raj",34])
if x in my_list:
    print(x)
else:
    print("nothing")

nothing

In [43]:
my_list=["raj",34,-45,True,False,4.9,45j]
x="raj"
y=34
z=True
if x and y and z in my_list:
    print(x,y,z)
else:
    print("nothing")

raj 34 True

# Length of list

In [44]:
my_list=["raj",34,-45,True,False,4.9,45j]
print(len(my_list))

7

In [18]:
my_list=[56,78,True,False,78,"raj","arya"]

In [19]:
print(len(my_list))

7

In [22]:
raj=[45,55,54,]
print(len(raj))

3

In [28]:
my_list=[10,20,30,40,50]
print(my_list(1))

TypeError: 'list' object is not callable

In [29]:
print(index(my_list 1))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4165527606.py, line 1)

In [27]:
print(0(my_list))

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_12076\596114532.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  print(0(my_list))
C:\Users\user\AppData\Local\Temp\ipykernel_12076\596114532.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  print(0(my_list))
C:\Users\user\AppData\Local\Temp\ipykernel_12076\596114532.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  print(0(my_list))
C:\Users\user\AppData\Local\Temp\ipykernel_12076\596114532.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  print(0(my_list))

TypeError: 'int' object is not callable

In [30]:
my_list=[45,55,67,43,45]
index=my_list
print(index(1))

TypeError: 'list' object is not callable

In [16]:
my_list=[45,55,67,43,45]
index=my_list
print(my_list(1))

TypeError: 'list' object is not callable

In [47]:
my_list=["raj",34,-45,True,False,4.9,45j]
item_num=my_list[0]
print(item_num)

raj

In [12]:
my_list=["raj",34,-45,True,False,4.9,45j]
imp_object=my_list[0:-4]
print(imp_object)

['raj', 34, -45]

In [29]:
my_list=[45,55,67,43,45]
first_object=my_list[0]
print(first_object)

45

In [5]:
my_list=[45,55,67,43,45]
first_object=my_list[0]
print("first_object in my list is", first_object)

first_object in my list is 45

In [26]:
my_list=[45,55,67,43,45]
second_object=my_list[1]
print(second_object)

55

In [48]:
my_list=[45,55,67,43,100]
print(len(my_list))
last_object=my_list[-5]
print(last_object)

5
45

In [32]:
my_list=[45,55,67,43,100]
x=my_list[-5]
print(x)

45

In [33]:
my_list=[45,55,67,43,100]
x=my_list[3]
print(x)

43

In [1]:
my_list=[45,55,67,43,100]
object=my_list[-3]
print(object)

67

# middle object in list

In [2]:
my_list=["raj",34,-45,True,False,4.9,]
x=len(my_list)//2
middle_object=my_list[x]
print("the middle object is",middle_object)

the middle object is True

In [19]:
my_list=[45,55,67,43,100,11,]

middle_index=len(my_list)//2
middle_object=my_list[middle_index]
print("the middle object is",middle_object)

the middle object is 43

In [2]:
my_list=[45,55,67,43,100,11,124,555]
x=len(my_list)//2
middle_item=my_list[x]
print("middle item is",middle_item)

middle item is 100

In [20]:
my_list=[45,55,67,43,100,11,]
x=len(my_list)//2
middle_term=my_list[x]
print(middle_term)

43

In [23]:
raj=[28,45,67,89,12,34]
middle_index=len(raj)//2
middle_object=raj[middle_index]
print("the middle object is",middle_object)

the middle object is 89

In [16]:
raj=[28,45,67,89,12,34]
x=len(raj)//2
middle_object=raj[x]
print(middle_object)

89

In [6]:
my_list=["raj",34,-45,True,False,4.9,]
middle_index=len(my_list)//2
middle_item=my_list[middle_index]
print("middle_item of my list is",middle_item)

middle_item of my list is True

In [10]:
my_list=[1,2,3,4,5,6,7,8]
object=my_list[1\3\5]
print(object)

SyntaxError: unexpected character after line continuation character (1942316395.py, line 2)

In [11]:
my_list=[1,2,3,4,5,6,7,8]
x=my_list[1]
y=my_list[3]
z=my_list[5]
print(x,y,z)

2 4 6

In [4]:
my_list=["raj",34,-45,True,False,4.9,]
important_object=my_list[135]
print(important_object)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1030589981.py, line 2)

In [13]:
my_list=[1,2,3,4,5,6,7,8]
x=my_list["1", "3",  "4"]
print(x)

TypeError: list indices must be integers or slices, not tuple

In [51]:
my_list=[1,2,3,4,5,6,7,8]
x=my_list[1],[2],[3]
print(x)

(2, [2], [3])

In [20]:
my_list=[1,2,3,4,5,6,7,8]
x=my_list[1.3.6]
print(x)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1610923252.py, line 2)

In [13]:
my_list=[45,55,67,43,100,11,43,500]
imp_object=my_list[0]:[3]:[5]
print(imp_object)

SyntaxError: invalid syntax (4207919325.py, line 2)

In [46]:
my_list=[1,2,7,4,9,6,7,8]
x=my_list[1:3:5]
print(x)

[2]

In [31]:
my_list=[1,2,7,4,9,6,7,8]
x=my_list[1] \
        [3]\
        [-5]
print(x)

TypeError: 'int' object is not subscriptable

In [6]:
my_list=[1,2,7,4,9,6,7,8]
x=my_list [1],[3],[5]
print(x)

(2, [3], [5])

In [52]:
my_list=[45,55,67,43,100]
x=print[1,2,3]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [33]:
my_list=[45,55,67,43,100,2,4,]
x=my_list[1],my_list[3],my_list[5]
print(x)

(55, 43, 2)

In [56]:
my_list=[45,55,67,43,100,2,4,]
x=my_list[1,2,3]
print(x)

TypeError: list indices must be integers or slices, not tuple

In [4]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
x=my_list[0],my_list[5],my_list[-6]
print(x)

(45, 55, 100)

In [5]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
important_object=my_list([1,4,5])
print(important_object)

TypeError: 'list' object is not callable

In [45]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
x=my_list[3,5,7]
print(x)

TypeError: list indices must be integers or slices, not tuple

In [41]:
print(type(x))

<class 'NoneType'>

In [49]:
my_list=[45,55,67,43,100]                 #if we use print as a varibale so type of data is always none type
x=print([])

[]

In [44]:
print(type(x))

<class 'NoneType'>

In [45]:
print(type([]))

<class 'list'>

In [48]:
my_list=[45,55,67,43,100,55,67]            # 
print(my_list[2:5])

[67, 43, 100]

In [4]:
my_list=[45,55,67,43,100,55,67]   
print(my_list[0:-6])

[45]

In [5]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
print(my_list[:7])

[45, 55, 67, 43, 100, 55, 67]

In [6]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
important_object=my_list[0:5]
print(important_object)

[45, 55, 67, 43, 100]


# syntax of slicing

- listname[start_index:end_index:step]

In [8]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
x=my_list[1:5:2]
print(x)

[55, 43]

In [59]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[-2:-8:-1]
print(object)

[25, 100, 67, 55, 100, 43]

In [9]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[-4:-8:-1]
print(object)

[67, 55, 100, 43]

In [7]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[-2:-5:-2]
print(object)

[25, 67]

In [6]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[1:-6:2]
print(object)

[55, 43]

In [12]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[-1:6:-2]
print(object)

[55, 100]

In [13]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[:7]
print(object)

[45, 55, 67, 43, 100, 55, 67]

In [14]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=my_list[0:7]
print(object)

[45, 55, 67, 43, 100, 55, 67]

In [18]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
print(len(my_list))
x=my_list[:10]
print(x)

10
[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [20]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
print(len(my_list))
x=my_list[1:10]
print(x)

10
[55, 67, 43, 100, 55, 67, 100, 25, 55]

In [22]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
print(len(my_list))
x=my_list[0:9]
print(x)

10
[45, 55, 67, 43, 100, 55, 67, 100, 25]

In [24]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
print(len(my_list))
x=my_list[:6]
print(x)

10
[45, 55, 67, 43, 100, 55]

In [25]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
print(len(my_list))
x=my_list[0:10]
print(x)

10
[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [28]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
x=my_list[::2]
print(x)

[45, 67, 100, 67, 25]

In [30]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
x=my_list[:::]
print(x)

SyntaxError: invalid syntax (4264790472.py, line 2)

In [1]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
x=my_list[3:]
print(x)

[43, 100, 55, 67, 100, 25, 55]

In [2]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
object=55
if object in my_list:
    print(object)
else:
    print("nothing")

55

# Iterating a list

In [4]:
my_list=[45,55,67,43,100,55,67,100,25,55,]             # This is called a iterate a list
for item in my_list:
    print(item)

45
55
67
43
100
55
67
100
25
55

In [9]:
my_list=[45,55,67,43,100,55,67,100,25,55,]  
for x in my_list:
    print(x)

45
55
67
43
100
55
67
100
25
55

In [10]:
my_list=[45,55,67,43,100,55,67,100,25,55,]    

for x in my_list:
    print(x)

45
55
67
43
100
55
67
100
25
55

In [6]:
my_list=[45,55,67,43,100,55,67,100,25,55,]    

for x in my_list:
    print(x)

45
55
67
43
100
55
67
100
25
55

In [11]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
x=100
for x not in my_list:
    print("yes"

SyntaxError: invalid syntax (691714302.py, line 3)

In [ ]:
my_list=[4.5,100,55,67j,100,25,55,"raj"]

# Adding element to the list- we can  add a new element in a list using this methods such aas 

1.append(object)=add the item in the end of the list.and take only one argument.


2.insert(index,object)=add the item in the specific position or indexing and take only one argument.

In [23]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
print(id(my_list))
my_list.append("raj")
print(id(my_list))
print(my_list)

2338292436480
2338292436480
[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [22]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
my_list.append("yes")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'yes']

In [32]:
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [34]:
my_list=[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']         # append takes only one argument at a time 
my_list.append(28,76)
print(my_list)

TypeError: list.append() takes exactly one argument (2 given)

In [61]:
print(id(my_list))

2772051960192

In [27]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list=[100, 'raj', 'arya', 10j]
my_list.append(my_list)
print(my_list)

[100, 'raj', 'arya', 10j, [...]]

In [67]:
print(id(my_list))

2772051916352

In [68]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj arya")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj arya']

In [69]:
print(id(my_list))

2772052045120

In [64]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj arya")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj arya']

In [65]:
print(id(my_list))

2772051963456

In [13]:
print(id(my_list))

2726652695680

In [16]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
z=my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [19]:
print(id(z))

140722913963712

In [18]:
print(id(my_list))

2726681291136

In [20]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [24]:
print(id(my_list))

2726646802624

In [33]:
x=[5,55,67,43,100,55,67,100,25,55,] 
x.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [31]:
print(id(x))

2726681630592

In [32]:
print(id(my_list))

2726646802624

In [9]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [11]:
z=[45,55,67,43,100,55,67,100,25,55,] 
print(z)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [12]:
print(id(my_list))

2086206845760

In [13]:
print(id(z))

2086206839872

In [14]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append(10j)
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 10j]

In [16]:
x=[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 10j]
print(x
    )

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 10j]

In [17]:
print(id(my_list))
print(id(x))

2086206816192
2086178274688

In [18]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [24]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [25]:
print(id(my_list))
print(id(my_list.append))

2086206814656
2086206947088

In [26]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [27]:
z=[45,55,67,43,100,55,67,100,25,55,] 
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [28]:
print(id(z))

2086206815680

In [29]:
print(id(my_list))

2086206736640

In [20]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [21]:
print(id(my_list))

2912330310528

In [22]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [23]:
print(id(my_list))

2912330746048

In [9]:
print(id(my_list))

2912330813824

In [10]:
z=[45,55,67,43,100,55,67,100,25,55,] 
z.append("raj")
print(z)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']

In [11]:
print(id(z))

2912330751040

In [12]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj"),my_list.append(10j)
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj', 10j]

In [2]:
my_list1=[45,"raj",55]
print(id(my_list1))
my_list2=[55,"arya",10j]
print(id(my_list2))
print(my_list1 + my_list2)

2599766027648
2599766028096
[45, 'raj', 55, 55, 'arya', 10j]

In [9]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
print(id(my_list))
print(my_list)

2599766020608
[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [25]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append("raj")
print(my_list)
print(id(my_list))

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']
2090648373888

In [26]:
my_list.append("raj")
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj', 'raj']

In [5]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
my_list.append(list)
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, <class 'list'>]

In [14]:
my_list=[45,55,67,43,100,55,67,100,25,55,] 
print(id(my_list))
print(my_list)

2599765834752
[45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

In [13]:
z=[45,55,67,43,100,55,67,100,25,55,] 
z.append("raj")
print(id(z))
print(z)

2599766023232
[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 'raj']


 # insert(index,object)=ADD Item at the specified position on the list.and takes only one argument at a time

In [17]:
my_list=[100,"raj",10j]
my_list.insert(2,"arya")
print(my_list)

[100, 'raj', 'arya', 10j]

In [40]:
my_list=[100,"raj",10j]
my_list.insert(3,"yash"),my_list.insert(0,500)
print(my_list)

[500, 100, 'raj', 10j, 'yash']

In [70]:
my_list=[100, 'raj', 'arya', 10j]
my_list.insert(-2,10j),my_list.insert(-2,"yash")
print(my_list)

[100, 'raj', 10j, 'yash', 'arya', 10j]

In [24]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
my_list.insert(0,"raj")
print(my_list)

['raj', 45, 55, 67, 43, 100, 55, 67, 100, 25, 55]

# Using extend=the extend method will accept the list of element and them at the end them at the end of the list.we can even add another list by using  this method

In [16]:
my_list=[100, 'raj', 'arya', 10j]
my_list.append("virat")
my_list.extend(["yes"])
print(my_list)

[100, 'raj', 'arya', 10j, 'virat', 'yes']

In [5]:
my_list=[100, 'raj', 'arya', 10j]         # extend add the object in the end of the list and takes multiple argument at a time
                                                
my_list.extend(["yash"])
my_list.extend([1,3,8,"no","ns200",500])
print(my_list)

[100, 'raj', 'arya', 10j, 'yash', 1, 3, 8, 'no', 'ns200', 500]

In [17]:
my_list=[100, 'raj', 'arya', 10j]
my_list.extend(["28"])
print(my_list)

[100, 'raj', 'arya', 10j, '28']

In [18]:
x_list=[1,2,5,7]
x_list.extend(["disha"])
print(x_list)

[1, 2, 5, 7, 'disha']

In [32]:
x_list=[1,2,5,7]
x_list.extend([1,5,9])
print(x_list)

[1, 2, 5, 7, 1, 5, 9]

In [19]:
x_list=[1,2,5,7]
x_list.extend([1,5,9])
print(x_list)

[1, 2, 5, 7, 1, 5, 9]

In [26]:
my_list=[45,55,67,43,100,55,67,100,25,55,]
my_list_1=[100, 'raj', 'arya', 10j]
my_list.extend(my_list_1)
print(my_list)

[45, 55, 67, 43, 100, 55, 67, 100, 25, 55, 100, 'raj', 'arya', 10j]

# modify the item of list using assignment operator

In [49]:
my_list=[100, 'raj', 'arya', 10j]
my_list[1]="yash"
print(my_list)

[100, 'yash', 'arya', 10j]

In [6]:
my_list=[100, 'raj', 'arya', 10j]
my_list[0]=45
print(my_list)

[45, 'raj', 'arya', 10j]

In [14]:
my_list=[100, 'raj', 'arya', 10j]                         # iterable means list ,tuple set or dictionary eg.(),[]
my_list[0:3]= 9
print(my_list)

TypeError: can only assign an iterable

In [13]:
my_list=[100, 'raj', 'arya', 10j]
my_list[0:3]= [9]
print(my_list)

[9, 10j]

In [29]:
my_list=[100, 'raj', 'arya', 10j]
my_list[0:3]= 10,
print(id(my_list))
print(my_list)

2338292442176
[10, 10j]

In [7]:
my_list=[100, 'raj', 'arya', 10j]
my_list[0:3]= {10}
print(id(my_list))
print(my_list)

1401301047552
[10, 10j]

In [28]:
my_list=[100,"raj",55j,40.3]
my_list[0:2]=124,
print(my_list)

[124, 55j, 40.3]

In [9]:
my_list=[100,"raj",55j,40.3]
my_list[0:2]=124,45,55
print(my_list)

[124, 45, 55, 55j, 40.3]

In [1]:
my_list=[100, 'raj', 'arya', 10j]
my_list(0:3)= 10,10,10

print(my_list)

SyntaxError: invalid syntax (1675121878.py, line 2)

In [1]:
my_list=[100, 'raj', 'arya', 10j]
my_list[1:3]= "data science"
print(my_list)

[100, 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', 10j]

In [30]:
my_list=[10,20,30,"raj",55,10j]
my_list[0:2]=["arya"]
print(my_list)

['arya', 30, 'raj', 55, 10j]

In [6]:
my_list=[10,20,30,"raj",55,10j]
my_list[0:2]=(50),(45)
print(my_list)

[50, 45, 30, 'raj', 55, 10j]

In [7]:
my_list=[10,20,30,"raj",55,10j]
my_list[2:4]=(50),(45)
print(my_list)

[10, 20, 50, 45, 55, 10j]

In [42]:
my_list=[10,20,30,"raj",55,10j]
my_list[-2:4]=[45,100]
print(my_list)

[10, 20, 30, 'raj', 45, 100, 55, 10j]

In [41]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list[4:8]=(["arya"])
print(my_list)

[10, 20, 30, 'raj', 'arya']

In [32]:
my_list=[100, 'raj', 'arya', 10j]
my_list[0:3]=["raj"]
print(my_list)

['raj', 10j]

# Removing elements from a list - the element from the list can be removed using the following list method.

1.remove(item)=to remove the specific object which you want from the list.and takes only one argument at a time

2.pop(index)= remove  the object at the given index from the list.and takes only one argument at a time.


3.clear()=to remove all items from the list. the output will be an empty list.and takes no argument


4.del(index:index)= to remove the range of the object from the list.

In [55]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.remove("raj")
print(my_list)

[10, 20, 30, 50, 45, 55, 10j]

In [57]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.pop(0)
print(my_list)

[20, 30, 'raj', 50, 45, 55, 10j]

In [1]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.remove(["raj",20,45])
print(my_list)

ValueError: list.remove(x): x not in list

In [5]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.remove("raj"),my_list.remove(10)
print(my_list)

[20, 30, 50, 45, 55, 10j]

In [45]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.pop(0)
print(my_list)

[20, 30, 'raj', 50, 45, 55, 10j]

In [8]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.pop(5)
print(my_list)

[10, 20, 30, 'raj', 50, 55, 10j]

In [59]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.clear()
print(my_list)

[]

In [10]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]         #list.clear() takes no arguments (1 given)
my_list.clear(2)
print(my_list)

TypeError: list.clear() takes no arguments (1 given)

In [11]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.clear()
print(my_list)

[]

In [33]:
my_list=[100, 'raj', 'arya', 10j]
my_list.remove(100)
print(my_list)

['raj', 'arya', 10j]

In [34]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.pop(0)
print(my_list)

[20, 30, 'raj', 50, 45, 55, 10j]

In [37]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(id(my_list))
my_list.clear()
print(my_list)
print(id(my_list))

2338292376576
[]
2338292376576

In [39]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(id(my_list))
del my_list[::]
print(my_list)
print(id(my_list))

2338291924544
[]
2338291924544

# Remove the range of item

In [48]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[0:3]
print(my_list)

['raj', 50, 45, 55, 10j]

In [58]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[0:3]
print(my_list)

['raj', 50, 45, 55, 10j]

In [54]:
print(my_list)

[]

In [56]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[3:]
print(my_list)

[10, 20, 30]

In [3]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[3:7]
print(my_list)

[10, 20, 30, 10j]

In [6]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[0:]
print(my_list)

[]

In [8]:
print(type(my_list))

<class 'list'>

In [9]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[-3:7]
print(my_list)

[10, 20, 30, 'raj', 50, 10j]

In [17]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.clear()
print(my_list)
del my_list

[]

# Delete entire list

In [25]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
del my_list[0:10]
print(my_list)

[]

# Finding an element in a list =is used to find the indexing position of any item
and takes only one argument at a time

- (my_list.index)

In [27]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(my_list.index(50))

4

In [28]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(my_list.index(100))

ValueError: 100 is not in list

In [1]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(my_list.index(-4))

ValueError: -4 is not in list

In [10]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
x=(my_list.index(20)),(my_list.index(30))
print(x)

(1, 2)

In [11]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
x=(my_list.index(20)),(my_list.index(30)),(my_list.index(100))
print(x)

ValueError: 100 is not in list

In [2]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
x=(my_list.index(20)),(my_list.index(30)),(my_list.index("raj"))
print(x)

(1, 2, 3)

In [41]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
x=my_list.index(10)
print(x)

0

In [11]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list[2:4]=[22]
print(my_list)

[10, 20, 22, 50, 45, 55, 10j]

In [3]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(id(my_list))
print(my_list)

3106163057472
[10, 20, 30, 'raj', 50, 45, 55, 10j]

In [6]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list[2:4]={20}
print(my_list)

[10, 20, 20, 50, 45, 55, 10j]

In [7]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list[2:4]=[20]
print(my_list)

[10, 20, 20, 50, 45, 55, 10j]

In [8]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list[2:4]=20,30
print(my_list)
print(type(my_list))

[10, 20, 20, 30, 50, 45, 55, 10j]
<class 'list'>

In [13]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list[0:5]=["raj"]
print(my_list)

['raj', 45, 55, 10j]

In [21]:
my_list=[10, 20, 30, 'raj',{50, 45, 55}, 10j]
my_list.extend([45,87,999,"yes"])
print(my_list)

[10, 20, 30, 'raj', {50, 45, 55}, 10j, 45, 87, 999, 'yes']

In [22]:
print(type(my_list))

<class 'list'>

In [1]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
x="raj"
y=50
if x and y in my_list:
    print(x,y)

raj 50

In [12]:
my_list=[10, 20, 30,50, 45, 55, 10]
sorted_list=sorted(my_list)
print(sorted_list)

[10, 10, 20, 30, 45, 50, 55]

# methods of list

In [13]:
my_list=[10, 20, 30,50, 45, 55, 10]
print(len(my_list))
print(max(my_list))
print(min(my_list))
print(sum(my_list))

7
55
10
220

In [3]:
my_list=[10, 20, 30,50, 45, 55, 10]
print(max(my_list))

55

In [4]:
my_list=[10, 20, 30,50, 45, 55, 10]
print(min(my_list))

10

In [5]:
my_list=[10, 20, 30,50, 45, 55, 10]
print(sum(my_list))

220

# Nested list

In [17]:
my_list=[10, 20, 30,50, 45, 55, 10]
print(len(my_list))
my_list2=["Raj","YAsh",100]
my_list.append(my_list2)
print(my_list)
print(len(my_list))

7
[10, 20, 30, 50, 45, 55, 10, ['Raj', 'YAsh', 100]]
8

# revesion of list

In [2]:
set1={20,45,67,100,55}

In [7]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
my_list.append(set1)
print(my_list)
print(type(my_list))

[10, 20, 30, 'raj', 50, 45, 55, 10j, {67, 100, 20, 55, 45}]
<class 'list'>

In [3]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
x=my_list.extend(["arya"]),my_list.append(28),
my_list.insert(0,"yes"),my_list.remove("raj"),my_list.pop(6),my_list.clear()

(None, None, 55, None)

In [6]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]   # if we use print as a varible so output is none type
print(my_list.extend(["arya"]),my_list.append(28),my_list.insert(0,"yes"))

None None None

In [24]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(my_list.extend(["yash",35,67,"no"]))

None

In [27]:
my_list=[10, 20, 30, 'raj', 50, 45, 55, 10j]
print(my_list.extend(["yash",35,67,"no"]))

None

In [7]:
my_list=[10,20,34,56,78,"raj",45,67,"yash",657,56,"rohit"]
print(id(my_list))
x=my_list[5]
print(x)
x=my_list[0:5:1]
print(x)
my_list.append("no")
print(my_list)
my_list.insert(0,"honey")
print(my_list)
my_list.extend(["arijit",100,45.98,"kumar sanu"])
print(my_list)
my_list[0]="kabir"
print(my_list)
my_list.remove("arijit")
print(my_list)
my_list.pop(1)
print(my_list)
del my_list[0:10]
print(my_list)
print(id(my_list))
my_list.clear()
print(my_list)
print(id(my_list))

2819930331200
raj
[10, 20, 34, 56, 78]
[10, 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', 'no']
['honey', 10, 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', 'no']
['honey', 10, 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', 'no', 'arijit', 100, 45.98, 'kumar sanu']
['kabir', 10, 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', 'no', 'arijit', 100, 45.98, 'kumar sanu']
['kabir', 10, 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', 'no', 100, 45.98, 'kumar sanu']
['kabir', 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', 'no', 100, 45.98, 'kumar sanu']
[56, 'rohit', 'no', 100, 45.98, 'kumar sanu']
2819930331200
[]
2819930331200

In [13]:
my_list=[10,20,34,56,78,"raj",45,67,"yash",657,56,"rohit"]
print(id(my_list))

my_set={45,55,65,75,"yes"}
my_list.extend([my_set])
print(my_list)
print(id(my_list))
print(type(my_list))

2819930321216
[10, 20, 34, 56, 78, 'raj', 45, 67, 'yash', 657, 56, 'rohit', {65, 'yes', 55, 75, 45}]
2819930321216
<class 'list'>

In [4]:
my_list=[10,20,34,56,78,"raj",45,67,"yash",657,56,"rohit"]   
sorted_list=set(sorted(my_list))
print(sorted_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [5]:
my_list=[10,20,34,56,78,45,67,657,56,]
sorted_list=set(sorted(my_list))
print(sorted_list)

{34, 67, 10, 45, 78, 657, 20, 56}

In [6]:
my_list=[10,20,34,56,78,"raj",45,67,"yash",657,56,"rohit"]  
x=set(my_list)
print(x)

{34, 67, 'rohit', 10, 45, 78, 'raj', 657, 20, 'yash', 56}

In [8]:
my_list=[10,20,34,56,78,45,67,657,56,]
my_list.sort()
print(my_list)

[10, 20, 34, 45, 56, 56, 67, 78, 657]

In [9]:
my_list=[1,2,3,4,5,6,7,8]
my_list.sort
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
my_list=[1,10,5,3,7,"raj"]
my_list.sort()
print(my_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [13]:
my_list=[10,20,34,56,78,45,67,657,56,]
x=my_list.sort
print(x)

<built-in method sort of list object at 0x000002B39186D340>

In [17]:
my_list=[10,20,34,56,78,45,67,657,56]
sorted_list=list(sorted(my_list))
print(sorted_list)

[10, 20, 34, 45, 56, 56, 67, 78, 657]

In [24]:
x=len(sorted_list)//2
middle_object=sorted_list[x]
print(middle_object)

56

In [39]:
sorted_list.append("raj")
print(sorted_list)
sorted_list.insert(0,"no")
print(sorted_list)
sorted_list.extend(["yes",45.89,10j])
print(sorted_list)
sorted_list[0]="honey"
print(sorted_list)
sorted_list.remove("honey")
print(sorted_list)
sorted_list.pop(0)
print(sorted_list)
del sorted_list[:]
print(sorted_list)
sorted_list.append("raj")
print(sorted_list)

['raj']
['no', 'raj']
['no', 'raj', 'yes', 45.89, 10j]
['honey', 'raj', 'yes', 45.89, 10j]
['raj', 'yes', 45.89, 10j]
['yes', 45.89, 10j]
[]
['raj']

In [44]:
my_list={10,20,34,56,78,45,67,657,56}
list=[1,2,3,4,5,6,"raj"]
x=set(frozenset(my_list)),frozenset(list)
print(x)  
print(type(x))

({34, 67, 10, 45, 78, 657, 20, 56}, frozenset({1, 2, 3, 4, 5, 6, 'raj'}))
<class 'tuple'>

In [47]:
my_list=[10,20,34,56,78,45,67,657,56]
x=my_list[0::]
print(x)

[10, 20, 34, 56, 78, 45, 67, 657, 56]

In [49]:
my_list=[10,20,34,56,78,45,67,657,56]
sorted_list=list(sorted(my_list))
print(sorted_list)

[10, 20, 34, 45, 56, 56, 67, 78, 657]

In [53]:
sorted_list.append("raj")
print(sorted_list)

[10, 20, 34, 45, 56, 56, 67, 78, 657, 'raj']

In [57]:
set={1,2,3,4,5}
sorted_list.extend([set])
print(sorted_list)

[10, 20, 34, 45, 56, 56, 67, 78, 657, 'raj', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, {1, 2, 3, 4, 5}]

In [5]:
my_list=["raj",34,-45,True,False,4.9,45j,]
del my_list[::]
print(my_list)

[]

In [6]:
print(my_list)
print(id(my_list))

[]
1549989013568

In [2]:
my_list=["raj",34,-45,True,False,4.9,45j,]
list=[1,2,3,4]

my_list.append([list])
print(my_list)

['raj', 34, -45, True, False, 4.9, 45j, [[1, 2, 3, 4]]]

In [7]:
my_list=["raj",34,-45,True,False,4.9,45j,]
list=[1,2,3,4]
my_list.insert(0,list)
print(my_list)

[[1, 2, 3, 4], 'raj', 34, -45, True, False, 4.9, 45j]

# important question of list

In [37]:
# short the list while using loop.
my_list=[21,11,"yash",33,"Raj",28,55,"Arya"]
new_list=[]
for item in my_list:
    if type(item)==int :
         new_list.append(item)
            
else:
    for item in my_list:
        if type(item)==str:
            new_list.append(item)
print(new_list)

[21, 11, 33, 28, 55, 'yash', 'Raj', 'Arya']

In [10]:
my_list=[21,11,"yash",33,"Raj",28,55,"Arya"]
new_list=[]
for item in my_list:
    if type(item)==int:
        new_list.append(item)
        
else:
    for item in my_list:
        if type(item)==str:
            new_list.append(item)
print(new_list)

[21, 11, 33, 28, 55, 'yash', 'Raj', 'Arya']

In [11]:
my_list=[10,"Raj",50,"Arya",60,"yes",22]

for item in my_list:
    if type(item)==int:
        print(item)
else:
    for item in my_list:
        if type(item)==str:
            print(item)

10
50
60
22
Raj
Arya
yes

In [58]:
my_list=[10,50,60,22]
print(max(my_list))

60

In [18]:
# remove duplicate item using loop
my_list=[1,2,19,21,5,25,5,5,5,5,5,5,5,5] 

new_list=[]

for item in my_list:
    if item!=5:
        new_list.append(item)
print(new_list)

[1, 2, 19, 21, 25]

In [12]:
my_list=[1,2,19,21,5,25,5,5,5,5,5,5,5,5]
new_list=[]
for item in my_list:
    if item!=5:
        new_list.append(item)
print(new_list)

[1, 2, 19, 21, 25]

In [20]:
my_list=[1,2,19,21,5,25,5,5,5,5,5,5,5,5,"Raj"]
new_list=[]
for item in my_list:
    if my_list.count(item)>1:
        new_list.append(item)
x=set(new_list)
print("Duplicate number is:",x)
for item in my_list:
    if item!=5:
        print(item)

Duplicate number is: {5}
1
2
19
21
25
Raj

In [6]:
# remove and find the duplicates in a list.
my_list=[10,55,20,10,55,"Raj",10,55,100,55,10,10,43,56,55,10,10,55]
new_list=[]
for item in my_list:
    if my_list.count(item)>1:
        new_list.append(item)
new_list1=set(new_list)
print('duplicate numbers:',new_list1)
removed_duplicates=set(my_list)
list_1=list(removed_duplicates)
print(list_1)

duplicate numbers: {10, 55}
[100, 10, 43, 'Raj', 20, 55, 56]

In [1]:
# remove and find the duplicates in a list.
my_list=[10,55,20,10,55,"Raj",10,55,100,55,10,10,43,56,55,10,10,55]
new_list=[]
for item in my_list:
    if my_list.count(item)>1:
        new_list.append(item)
my_set=set(new_list)
print("Duplicate number:",my_set)
removed_duplicate=set(my_list)
list_1=list(removed_duplicate)
print(list_1)
number=int(input("duplicate number:"))
print("number of duplicate:",new_list.count(item))

Duplicate number: {10, 55}
[100, 10, 43, 'Raj', 20, 55, 56]
duplicate number:10
number of duplicate: 6

In [24]:
# remove and find the duplicates in a list.
my_list=[10,55,20,10,55,"Raj",10,55,100,55,10,10,43,56,55,10,10,55]
new_list=[]
for item in my_list:
    if my_list.count(item)>1:
        new_list.append(item)
my_set=set(new_list)
print("Duplicate number:",my_set)
x=set(my_list)
y=list(x)
print(y)

Duplicate number: {10, 55}
[100, 10, 43, 20, 'Raj', 55, 56]

In [2]:
my_list=[10,55,20,10,55,"Raj",10,55,100,55,10,10,43,56,55,10,10,55]
new_list=[]
for item in my_list:
    if my_list.count(item)>1:
        new_list.append(item)
duplicate_num=set(new_list)
list_1=list(duplicate_num)
print("Duplicate number in a list=",list_1)
removed_duplicate=set(my_list)

list_2=list(removed_duplicate)
print(list_2)
numbers=int(input("Enter the dulicate number:"))
print("number of dupplicate is:",new_list.count(item))

Duplicate number in a list= [10, 55]
[100, 10, 43, 'Raj', 20, 55, 56]
Enter the dulicate number:55
number of dupplicate is: 6

In [ ]:
my_Ballance=80000
withdrawl_limit=range(0,25000)
amount=int(input("withdrawl money:"))


for item in withdrawl_limit: 
    if amount>25000:  
        print("Your limit is only 25000")
else:
    if amount<25000:
        
        print("Balance money",my_Ballance-amount)

In [13]:
# Atm program
my_Ballance=80000
withdrawl_limit=range(0,25000)
amount=int(input("withdrawl money:"))


if amount>25000:  
        print("Your limit is only 25000")
else:
    if amount<25000:
        
        print("Balance money",my_Ballance-amount)

withdrawl money:20000
Balance money 60000

In [25]:
my_list=[]
my_list.append("Raj")
print(my_list)

['Raj']

In [26]:
my_list.insert(1,"Arya")
print(my_list)

['Raj', 'Arya']

In [27]:
my_list.extend([10,20,"Boy"])
print(my_list)

['Raj', 'Arya', 10, 20, 'Boy']

In [28]:
x=my_list[0:2]
print(x)

['Raj', 'Arya']

In [31]:
y=my_list[0:-2:1]
print(y)

['Raj', 'Arya', 10]

In [32]:
print(my_list)

['Raj', 'Arya', 10, 20, 'Boy']

In [33]:
x=my_list.index("Raj")
print(x)

0

In [35]:
my_list[0:2]="Raj arya is the best",28
print(my_list)

['Raj arya is the best', 28]

In [43]:
my_list=["Raj","Rohit","Raju","Ravi","Rohan","ankit","ayushman"]
new_list=[]
for item in my_list:
    new_list.append(item.count("a"))
print(sum(new_list))

7

In [1]:
my_list=["Raj",55,10,62,62,100,62,55,88,"yes"]
new_list=[]
for item in my_list:
    if my_list.count(item)>1:
        new_list.append(item)
duplicates=set(new_list)
print("Duplicates number is:",duplicates)
removed_duplicates=set(my_list)
x=list(removed_duplicates)
print(x)
numbers=int(input("find number of duplicates:"))
print("number of duplicate is:",new_list.count(item))

Duplicates number is: {62, 55}
[100, 10, 'yes', 'Raj', 55, 88, 62]
find number of duplicates:62
number of duplicate is: 0