In [1]:
x=25
y=10
x>y

True

In [2]:
y<x

True

In [3]:
x==y

False

In [4]:
x>y==x

False

In [5]:
x!y

SyntaxError: invalid syntax (486106726.py, line 1)

In [2]:
x=20
y=30
x!=y

True

In [6]:
x!=y

True

In [7]:
x!==y

SyntaxError: invalid syntax (69114153.py, line 1)

In [8]:
x=55
y=100
x!=y

True

In [9]:
x==y

False

In [10]:
x<=y

True

In [12]:
x>=y

False

In [13]:
raj=28
yash=3
raj>yash

True

In [5]:
raj<yash

NameError: name 'raj' is not defined

In [15]:
raj>=yash

True

In [16]:
raj<=yash

False

In [3]:
raj==yash

NameError: name 'raj' is not defined

In [2]:
raj!=yash

NameError: name 'raj' is not defined

In [19]:
x="raj 28"
y='yash 3'
x>y

False

In [20]:
x='raj28'
y='yash3'
x>y

False

In [21]:
x<y

True

In [25]:
x=2
y=4

if x>1 and y>1:
print (a*b)
 else:
   print("bike")

IndentationError: expected an indented block after 'if' statement on line 4 (2263521847.py, line 5)

In [26]:
x=45
y=55
x!=y

True

In [27]:
a=4
b=8

if a>2 and b>2:
    print(a*b)

32

In [28]:
a=4
b=8
if a<10 and b<10:
    print ('super bike')

super bike

In [31]:
a=5
b=10
if a==5 and b==10:
     print (a+b)
else:
    print("super bike")

15

# Logical or - when both the condition will be false then the (or operator)give output false otherwise always denotes and give the output True

In [32]:
print(True or False)

True

In [33]:
print(False or True)

True

In [34]:
print(False or False)

False

In [35]:
print(True or True)

True

In [37]:
a=10
b=20
if a==10 or b==20:
       print(a+b)
else: 
      print('my name is raj arya')

30

In [38]:
print("my name is raj arya")

my name is raj arya

In [40]:
a= 5
b=10
if a>2 or b>5:
    print("my name is raj arya")

my name is raj arya

In [41]:
a=10
b=20
if a!=5 or b!=10:
    print (a*b)

200

In [42]:
a=25                               
b=50
if a==25 or b==50
 print("True")

SyntaxError: expected ':' (351519126.py, line 3)

In [45]:
a=2
b=5
if a==2 or b==10:
  print("raj")

raj

In [46]:
a=5
b=10
if a>=2 or b<2:
     print(a*b)
else:
      print("raj")

50

In [47]:
a=5
b=10
if a>10 or b==10:
     print(a+b)
else :
        print("rs 200")

15

In [50]:
a=5
b=10                        # because i use (and) logical operator  so 
                                     # a>10=  False
                                      # b==10 =  True
                                      
                                      #so according to and operators False or True result is False 
                                          # so the output is rs 200
if a>10 and b==10:
    print(a+b)
else:
      print("rs 200")

rs 200

In [51]:
a=5
b=10

if a+=b or a-=b
      print (a+b)
else:
      print("ns 200")

SyntaxError: invalid syntax (1783035527.py, line 4)

In [58]:
a= 5
b=10
 
if a==a+b or b==b-a:
    print (a+b)
else :
       print("raj")

raj

In [61]:
a=  10 
b= 20
   if a-==b or b/==a:
    print( "28")
else:
     print("raj")

IndentationError: unexpected indent (2578440876.py, line 3)

In [64]:
a=10
b=20
if a==a-b or b==a+b:
    print("28")
else: 
          print("raj arya")

raj arya

In [65]:
a=10
b=20
if a==b-a or b==a+b:
    print("28")
else:
    print("raj arya")

28

In [3]:
a=2
b=4
if a==a-b or b==a+b:
    print(12)
else:
        print("raj")

raj

# Arithmetic values  in Logical operator (or) always print starting values

In [1]:
print(20 or 55)

20

In [54]:
print(10 or 20)

10

In [55]:
print( 100 or 50)

100

In [57]:
print( 50 or 34)

50

In [4]:
print( 30 or 50)

30

# not- is reverse to true into false, and false into true

- In the case of arithmetic values,Logical not always return False for nonezero value .

In [2]:
not True

False

In [1]:
a=5
if not a:                             # if not (a) means a true nahi ha 
     print(a)
else:
    print("no")

no

In [9]:
a=0
if not  a:                             # if not (a) means a true nahi ha 
     print(a)
else:
    print("no")

0

In [3]:
print(not 10)

False

In [4]:
print ( not 1)

False

In [7]:
print(not 5)

False

In [8]:
print(not 0)

True

In [5]:
print(not 5)

False

In [3]:
not False

True

In [4]:
x=13
y=14
x<15 and x==y

False

In [5]:
x<15 or x==y

True

In [6]:
not  x<15

False

In [7]:
not x==y

True

In [11]:
"abc">"a"                      # home work

True

In [9]:
"abc">"x"

False

In [10]:
True or False and False

True

In [3]:
1+2 is not 3

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\user\AppData\Local\Temp\ipykernel_1012\3925760004.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1+2 is not 3

False

In [8]:
1+2!=3

False

In [9]:
1+2 not 3

SyntaxError: invalid syntax (2433134417.py, line 1)

In [10]:
1+2==3

True

In [11]:
1+2>=3

True

In [13]:
1+2\
<=3

True

In [2]:
1+2\
>=3

True

In [17]:
1+2<=3

True

# Python Opeators Precedence

 1 Parenthesis = ()

 2 Exponentiation  = **

 3  Multiplication , Division, Floor division, Modulus = *,/,//,%
 
 4  Addition or subtraction = +,-
 
 5  Comparision operator  =     ==,!=,>,>=,<,<=
 
 6  Identify membership =   is, is not ,in, not in
 
 7  Logical Not = not 
 
 8  Logical And = and
 
 9  Logical Or = or (lowest)

In [21]:
 print(not 5)

False

In [22]:
print(not 7)

False

In [23]:
print(not 56)

False

In [24]:
print(not 78)

False

In [17]:
True and False or True

True

In [26]:
5 and 7 or 56 and 78

5

In [30]:
5 or 7 or 56 and 0

5

# Is operator

In [8]:
x=10
y=11
z=10
print(x is y)

False

In [9]:
print( y is z)

False

In [10]:
print(id (x))

1905283039760

In [11]:
print(id(y))

1905283039792

In [12]:
print(id(z))

1905283039760

In [13]:
print(x is not y)

True

In [1]:
p=25
q=45
print(p is not q)

True

In [16]:
print(p  is q)

True

In [4]:
x=45;y=55;z=45
if x is z:
    print(id(x))
    print(id(z))
else:
    print(id(y))

1634638431856
1634638431856

In [7]:
x=45;y=45;z=45                       # id takes onle one time one command
if x is z is y:
    print(id(x))
    print(id(z))
    print(id(y))
else:
    print("nothing")

1634638431856
1634638431856
1634638431856

# Membership operator - have 2 operator

1.in

2.not in

In [8]:
my_list =[11,15,21,29,50,70]
number=11
if number in my_list:
    print("number is present")
else:
    print("number is not present")

number is present

In [4]:
my_list =[11,15,21,29,50,70]
number= 50
if number not in my_list:
    print("number is not present")
else:
    print("number is  present")

number is  present

In [5]:
my_typle =(11,15,21,29,50,70)
number = 55
if number not in my_typle:
    print("number is not present")
else:
    print("number is present")

number is not present

In [6]:
my_typle =(11,15,21,29,50,70)
number = 15
if number not in my_typle:
    print("number is not present")
else:
    print("number is present")

number is present

In [11]:
my_list=[23,45,56,77,45,10,20,]
number divisible_ by 5| =[]
if number divisible_by 5 in my_list:
    print("yes")
else:
    print("no")

SyntaxError: invalid syntax (2716461839.py, line 2)

In [14]:
my_tuple=(34,55,56,23,10,87,)
number=34;10
if number in my_tuple:
    print("number")
else:
    print("nothing")

number

In [15]:
my_tuple=(34,55,56,23,10,87,)
number=55;56;87
if number not in my_tuple:
    print("empty")
else:
    print("yes")

yes

In [16]:
my_tuple=(34,55,56,23,10,87,)
number=100;22;1
if number not in my_tuple:
    print("empty")
else:
    print("yes")

empty

In [20]:
raj=[45,23,90,55,34,]                # when i am try two find two numbers in membership operator they take only first number
number=45;56
if number in raj:
    print("yes")
else:
    print("no")

yes

In [19]:
raj=[45,23,90,55,34,]
number=56;45;23
if number not in raj:
    print("yes")
else:
    print("no")

yes

# Identify operators = to compare memory  address of x and y

identify have 2 operators

1.is 

2.is not

In [9]:
x=10
y=11
z=10
print(x is y)
print(x is z)
print(x is z)

False
True
True

In [10]:
x=30
y=30
z=30
print( x is y is z)

True

In [11]:
x= 50
y=70
z=70
print( x is y is z)

False

In [12]:
x=10
y=11
z=10
print( x is not z)

False

In [17]:
print(id(x,y))                       # id takes only one argument in one time

TypeError: id() takes exactly one argument (2 given)

In [14]:
x=10
y=11
z=10
print(id(x))
print(id(y))
print(id(z))

2532934877712
2532934877744
2532934877712

In [15]:
x is z

True

In [16]:
y is z

False

In [18]:
x="raj"
y="arya"
z="Raj"
print(id(x))
print(id(y))
print(id(z))

2533013866224
2533013869040
2533048033648