# Python has seven types of operators that we can use to perform different operation and produce a result.
- Arithmetic operators
- Relational operators or cmparison opertor
- Assignment operators
- Logical operators
- Membership operators 
- Identify operators 
- Bitwise operators

# Arithmetic operators- seven types of arithmatic operators

- Addition
- Subtraction
- Multiplication
- Division
- Floor division
- Modulus
- Exponentiation

In [1]:
# Addition operator

In [3]:
x="raj"               # when two string add together so this is called concatenation.
y="arya"
print(x+y)

rajarya

In [4]:
x="raj"
y="arya"
print(x + " " ,y)

raj  arya

In [3]:
x="     raj"
y="          arya"
print(x       +           y)

     raj          arya

In [5]:
print(x+"   ",y)

raj    arya

In [7]:
0 or False

False

In [8]:
5 or True

5

In [6]:
False and 0

False

In [9]:
False or 0

0

In [5]:
5 and True

True

In [ ]:
x=

In [2]:
x=10
y=40
print(x+y)

50

In [3]:
x=34
y=46
print(x+y)

80

In [4]:
x=87
y=45
z=56
print(x+y+z)

188

In [5]:
a=45
x=45
y=34
z=45
print(x+y+z+a)

169

In [6]:
x=45,y=4,z=45
print(x+y+z)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2985082246.py, line 1)

In [13]:
10/0

ZeroDivisionError: division by zero

In [15]:
10//10

1

In [7]:
x=34;y=34;z=34
print (x+y+z)

102

In [10]:
x=34,y=34,z=34
print (x+y+z)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1270990468.py, line 1)

In [12]:
x=34;\
y=54;\
z=45
print(x,y,z)

34 54 45

In [8]:
x=10+50

In [9]:
40/10

4.0

In [10]:
45*34

1530

In [11]:
2**3

8

In [13]:
5**5

3125

In [14]:
name="raj"
surname="arya"
print(surname+name)

aryaraj

In [15]:
name="i am a datascientist and my rool no is 28"

In [16]:
print(name)

i am a datascientist and my rool no is 28

In [21]:
x= "my name raj arya and my date of birth is 28"

In [22]:
print(x)

my name raj arya and my date of birth is 28

In [23]:
print(x+23)

TypeError: can only concatenate str (not "int") to str

In [5]:
x="raj arya"

In [6]:
print("x+23")

x+23

In [24]:
raj =28
print(raj+34)

62

In [26]:
name= "raj"                               # Space is a charactor which can be used with Quatation mark ("")
surname="arya"
print(name + "     "+ surname)

raj     arya

In [27]:
x="raj 28-04-2003"
print(x)

raj 28-04-2003

In [31]:
kohlo=52
rohit=34
print("kohli-rohit")

kohli-rohit

In [32]:
name= 'raj'
surname='arya'
print(surname+""+name)

aryaraj

In [33]:
x=10
name="udit"
print(x+name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
x="10"
name= "raj"
print(x+name)

10raj

In [36]:
name="raj"
x= "28"
print(name ""+x)

SyntaxError: invalid syntax (1523979533.py, line 3)

In [37]:
z='20'                          #this is an exampel of concatenation
k="20"
print(z+k)

2020

# Subtraction

In [38]:
x=10
y=40
print(x-y)

-30

In [39]:
x=45
y=23
print(x-y)

22

In [40]:
x=34
y=34
print(x-y)

0

In [43]:
x="34"
y='23'                             # string can not to be subtract
Print(x-y)

NameError: name 'Print' is not defined

In [42]:
x="50"
y="30"
print(x-y)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#Todays keywords -

- Operators = +,-,/,*
- operands= like 10 +20 "+"is a operators and 10 , 20 is operands 
- Addition=10+20
- Subtraction=20-10
- Concatenation- eg. addition of two strings like

In [1]:
x="20"    # this is the example of concatenaion the two string is merge with each others
y="455"
print(x+y)

20455

In [7]:
x="my name is raj arya"
print(x+45)

TypeError: can only concatenate str (not "int") to str

In [8]:
x="my name is raj arya"
print("x+45")

x+45

In [9]:
x="raj"
y="34"
print (x+y)

raj34

In [10]:
print(x*y)

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
x="  raj"
y="  28"
print(x+"   ", y)

  raj      28

In [20]:
x="raj"
print(x**)

SyntaxError: invalid syntax (1323404250.py, line 2)

In [21]:
45**

SyntaxError: invalid syntax (60453271.py, line 1)

In [22]:
"45**"

'45**'